.place__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  max-width: 460px;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 524px;
  margin-bottom: 48px;
  border: solid 1px red;
}