 .place__paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  max-width: 484px;
  width: 100%;
  margin: 0;
}

.place__paragraph:nth-child(2) {
    margin-top: 26px;
    } 