.page {
  background: #2A2C2F;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
  min-width: 320px;
}

@media screen and (max-width: 1280px) {
.page {
  padding-top: 28px;
}
}

@media screen and (max-width: 321px) {
.page {
  padding-top: 13px;
  padding-bottom: 27px;
  padding-left: 0;
  padding-right: 0;
}
}

