.photo-grid {
  max-width: 1184px;
  width: 100%;
  margin-top: 92px;
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(284px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  
}