.header__link_active {
  text-decoration: underline;
}

@media screen and (max-width: 320px) {
.header__link_active {
  max-width: 22px;
  max-height: 20px;
  width: 100%;
  height: 100%;
  font-size: 18px;
}
}

