.link-hover { 
  cursor: pointer; 
} 

.link-hover:hover {
  background:#2A2C2F; 
  color: #ffffff; 
  opacity: 1;
  cursor: pointer; 
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  color: transparent;
  -webkit-text-stroke: 1.3px #000000;
} 