.place__paragraphs {
  margin: 0;
  padding: 0;
}

/* @media screen and (max-width: 1024px) {
.intro__list {
  max-width: 690px;
  max-height: 429px;
  margin-left: 48px;
  margin-right: 286px;
}
}
@media screen and (max-width: 768px) {
.intro__list {
  max-width: 720px;
  max-height: 429px;
  margin-left: 24px;
  margin-right: 24px;
}
} */

@media screen and (max-width: 320px) {
.place__paragraphs {
  margin-left: 16px;
  margin-right: 16px;
}
}
