.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter', 'Arial', 'sans-serif';
}

.header__link:hover {
  opacity: 0.8;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}


@media screen and (max-width: 1024px) {
.footer__link {
  line-height: 112%;
}
}

@media screen and (max-width: 320px) {
.footer__link {
  font-size: 24px;
  line-height: 24px;
}
}
