.lead__title {
  border: solid 2px red;
  margin-top: 56px;
  margin-left: 280px;
  margin-right: 280px;
  margin-bottom: 0;
  max-width: 720px;
  max-height: 200px;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin-left: 152px;
    margin-right: 152px;
}
}
@media screen and (max-width: 768px) {
  .lead__title {
    margin-left: 24px;
    margin-right: 24px;
}
}

@media screen and (max-width: 320px) {
.lead__title {
  max-width: 288px;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 40px;
  line-height: 44px;
}
}
