.footer__links {
  display: flex;
  flex-direction: row;
  column-gap: 19px;
  padding: 0;
  margin: 0;
}

.footer__links {
  display: flex;
  column-gap: 18px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 720px) {
  .footer__links {
    flex-direction: column;
    row-gap: 32px;
  }
}

@media screen and (max-width: 696px) {
.footer__links {
  margin: 0;
  flex-direction: column;
  gap: 32px;
}
}

@media screen and (max-width: 320px) {
.footer__links {
  margin: 0;
  flex-direction: column;
  gap: 32px;
}
}
