.intro {
  max-width: 690px;
  width: 100%;
  max-height: 429px;
  height: 100%;
  margin-top: 114px;
  margin-left: 148px;
  margin-right: 442px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 1024px) {
.intro {
  max-width: 690px;
  max-height: 429px;
  margin-left: 48px;
  margin-right: 286px;
}
}
@media screen and (max-width: 768px) {
.intro {
  max-width: 720px;
  max-height: 429px;
  margin-left: 24px;
  margin-right: 24px;
}
}

@media screen and (max-width: 320px) {
.intro {
  max-width: 288px;
  max-height: 754px;
  margin-left: 16px;
  margin-right: 16px;
}
}
