.cover {
  position: relative;
  margin-top: 92px;
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 92px;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
.cover {
  position: relative;
  margin-top: 92px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  max-width: 1024px;
}
}
@media screen and (max-width: 768px) {
.cover {
  position: relative;
  margin-top: 90px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 88px;
  max-width: 768px;
  margin-top: 0;
  margin-bottom: 0;
}
}

@media screen and (max-width: 320px) {
.cover {
  position: relative;
  margin-top: 66px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 65px;
  max-width: 320px;
  max-height: 200px;
  height: 100%;
  width: 100%;
}
}
