.cover__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 245px;
  margin-bottom: 32px;
  margin-left: 312px;
  margin-right: 312px;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
.cover__title {
  margin-top: 195px;
  margin-bottom: 32px;
  margin-left: 232px;
  margin-right: 232px;
}
}
@media screen and (max-width: 768px) {
.cover__title {
  margin-top: 115px;
  margin-bottom: 32px;
  margin-left: 104px;
  margin-right: 104px;
}
}

@media screen and (max-width: 320px) {
.cover__title {
  margin-top: 33px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 32px;
  line-height: 35px;
}
}
