.cover__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 245px;
  margin-bottom: 32px;
  margin-left: 312px;
  margin-right: 312px;
  border: solid 1px red;
  z-index: 1;
}