.footer {
  max-width: 1184px;
  display: flex;
  align-self: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 92px auto auto auto;
}

@media screen and (max-width: 1280px) {
.footer {
  margin-top: 92px;
  padding-left: 39px;
  padding-right: 35px;
}
}

@media screen and (max-width: 1024px) {
.footer {
  max-width: 928px;
  margin: 0;
  margin-top: 95px;
  padding-left: 50px;
  align-items: baseline;
}
}

@media screen and (max-width: 768px) {
.footer {
  margin: 78px 24px auto 24px;
  max-width: 720px;
  padding: 0;
}
}

@media screen and (max-width: 700px) {
.footer {
  margin-top: 8px;
  max-width: 720px;
  flex-direction: column;
 }
}

@media screen and (max-width: 505px) {
.footer {
  margin-top: 88px;
  max-width: 720px;
}
}

@media screen and (max-width: 320px) {
.footer {
  max-width: 186px;
  margin-top: 0;
  margin-left: 16px;
  margin-right: 118px;
  margin-bottom: 0;
}
}
