.place__url-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin-top: 0;
}

/* @media screen and (max-width: 1024px) {
.intro__list {
  max-width: 690px;
  max-height: 429px;
  margin-left: 48px;
  margin-right: 286px;
}
}
@media screen and (max-width: 768px) {
.intro__list {
  max-width: 720px;
  max-height: 429px;
  margin-left: 24px;
  margin-right: 24px;
}
} */

@media screen and (max-width: 320px) {
.place__url-heading {
  letter-spacing: 2px;
}
}
