.place__website {
  margin-bottom: 48px;
  display: grid;
  place-self: end start;
}

@media screen and (max-width: 768px) {
.place__website {
  display: flex;
  flex-direction: column;
}
}

@media screen and (max-width: 640px) {
.place__website {
  place-self: start start;
}
}

@media screen and (max-width: 320px) {
.place__website {
  margin-bottom: 32px;
  margin-left: 16px;
  margin-right: 16px;
  max-width: 288px;
  place-self: start start;
}
}
