.place__website {
  margin-bottom: 48px;
  display: grid;
  place-self: end start;
  max-width: 456px;
  width: 100%;
  max-height: 46px;
  height: 100%;
}


@media screen and (max-width: 768px) {
.place__website {
  max-width: 352px;
  width: 100%;
  max-height: 46px;
  height: 100%;
}
}

@media screen and (max-width: 320px) {
.place__website {
  margin-bottom: 32px;
  margin-left: 16px;
  margin-right: 16px;
  max-width: 288px;
  width: 100%;
  max-height: 46px;
  height: 100%;
}
}
